$primary-color:#d64726;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html{
    font-size: 18px;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    background-color: black;
    color: white;
}